{% extends 'base.html.twig' %}

{% block title %}Todos los Productos{% endblock %}

{% block body %}
    <h1>Productos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Brand</th>
                <th>Precio</th>
                <th>Fecha de Creado</th>
               <th>Fecha de Act</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                {{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}
                </td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">Mostrar</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No hay productor</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Nuevo Producto</a>
{% endblock %}
